---
permalink: lp_data/lp.json
---
[
  {% for post in collections.projects  %}
    {% set data = post.data %}
    {
      "title": "{{ data.title }}",
      "url": "{{ post.url }}", 
   
       "tag": [ {% for tag in data.chips %} "{{tag}}"  {{ '' if loop.last else ',' }}{% endfor%}   ],

   "ingredient":[ {% for ingredient in data.ingredients %} 
        "{{ingredient}}" {{ '' if loop.last else ',' }} 
      
    {% endfor%} ]
    }{{ '' if loop.last else ',' }}
  {% endfor  %}
]