---
permalink: lp_data/lp2.json
---
[
{% for post in collections.projects %}
{% set data = post.data %}
    {
        "title": "{{ data.title }}",
        "url": "{{ post.url }}", 
        "thumb":"{{data.featimg}}"
    }{{ '' if loop.last else ',' }}
{% endfor %}
]