---
permalink: lp_data/salad.json
---
[    

{% for post in collections.projects %}
    {% set data = post.data %}
    {% for ingredients in data.ingredients %}
     { name: {{data.title}}, type:'{{ingredients}}'}
{%- endfor %}{{ '' if loop.last else ',' }}
{%- endfor %}


{# {%- for ingredients, posts in collections %}

{    
     "tags": "{{ingredients}}",
     "projects": 
     [
     {%- for project in collections[ingredients] %}   
         "{{project.data.title}}"{{ '' if loop.last else ',' }} 
     {%- endfor %}
    ]  
}{{ '' if loop.last else ',' }} 
{%- endfor %} #}
]
