---
permalink: lp_data/salad.json
---
[    

{% for post in collections.projects %}
    {% set data = post.data %}
    {% for ingredients in data.ingredients %}
     { name: {{data.title}}, type:'{{ingredients}}'}
{%- endfor %}{{ '' if loop.last else ',' }}
{%- endfor %}


]
