<footer role="contentinfo" class="text-white text-xs md:fixed bottom-0 mx-auto flex flex-col md:flex-row md:justify-center md:items-center font-work font-extralight italic">
  <h2 class="flex flex-row m-4 uppercase">links:</h2>

  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- intimidation -->
    <a href="/intimidation" target="_blank">
      <p>intimidation</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- sss -->
    <a href="/sss" target="_blank">
      <p>sss</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- agat -->
    <a href="/agat" target="_blank">
      <p>agat</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- dobedobedobe -->
    <a href="/dobedobedobe" target="_blank">
      <p>dobedobedobe</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- dobedobedobe -->
    <a href="/about" target="_blank">
      <p>about</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- Instagram -->
    <a href="https://www.instagram.com/athisownpace/" target="_blank">
      <p>IG</p>
    </a>
  </div>
  <div class="mx-4 my-8">
    <p>Copyright {{ helpers.currentYear() }} Agat Sharma</p>
  </div>
</footer>