<footer role="contentinfo" class="text-white text-md bottom-0 mx-auto flex flex-col md:flex-row md:items-center font-work italic">
  <h2 class="flex flex-row mx-4 my-1 uppercase">links:</h2>

  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- intimidation -->
    <a href="/intimidation">
      <p>intimidation</p>
    </a>
  </div>
  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- sss -->
    <a href="/sss">
      <p>sss</p>
    </a>
  </div>
  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- agat -->
    <a href="/agat">
      <p>agat</p>
    </a>
  </div>
  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- dobedobedobe -->
    <a href="/dobedobedobe">
      <p>dobedobedobe</p>
    </a>
  </div>
  <div class="flex flex-row m-4 underline underline-offset-4">
    <!-- notes -->
    <a href="/notes">
      <p>notes</p>
    </a>
  </div>
  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- about -->
    <a href="/about">
      <p>about</p>
    </a>
  </div>
  <div class="flex flex-row mx-4 my-1 underline underline-offset-4">
    <!-- Instagram -->
    <a href="https://www.instagram.com/athisownpace/" target="_blank">
      <p>IG</p>
    </a>
  </div>
  <div class="mx-4 my-1">
    <p>Copyright {{ helpers.currentYear() }} Agat Sharma</p>
  </div>
</footer>