<footer role="contentinfo" class="bg-gray-100 m-4 font-work font-extralight text-sm italic">
  <div class="max-w-screen-xl px-4 py-8 mx-auto">
  <p>Copyright {{ helpers.currentYear() }} Ajaibghar Cultural Services LLP</p>
  </div>
</footer>