<header class="font-groto mb-5">
  <nav class="flex justify-between items-center py-4 mx-auto">
    <div>
      <h1 class="px-5">
        <a href="/" class="z-50 text-4xl text-white">AGAT SHARMA</a>
      </h1>
    </div>

  </header>

  {# <script>

    const navLinks = document.querySelector('.nav-links')
    function onToggleMenu(e) {
      e.name = e.name === 'menu'
        ? 'close'
        : 'menu'
      navLinks
        .classList
        .toggle('top-[0]')
    }
  </script> #}