<div class="w-full my-4 font-work flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row justify-between">
  <h1 class="text-3xl text-center px-6">
    <a href="/">AJAIBGHAR</a>
  </h1>
  <h2 class="text-6xl font-bold text-center px-3 leading-snug md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-3xl">A <span class="text-teal-500 -skew-y-3">studio</span> for <span class="bg-yellow-500 -skew-y-3">art</span>, <span class="bg-yellow-500 -skew-y-3">technology</span> &#38; <span class="bg-yellow-500 -skew-y-3">futures</span></h2>
  <div class="">
    {% include "../components/navigation.njk" %}
  </div>
</div>