<div class="border-b border-b-4 border-gray-500 flex flex-row justify-between items-center">
  <h1 class="ml-4 text-4xl font-extrabold">
    <a href="/">AJAIBGHAR</a>
  </h1>
  <h2 class="hidden px-6 lg:flex xl:flex 2xl:flex text-2xl font-semibold">A studio for <span class="bg-yellow-300 px-1 ml-2">art</span>, <span class="bg-red-300 px-1 ml-2 mr-1">technology</span> & <span class="bg-blue-300 px-1 ml-2">futures</span></h2>
  <div>
  {% include "../components/navigation.njk" %}
  </div>
</div>