<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy"/>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window
          .netlifyIdentity
          .on("init", user => {
            if (!user) {
              window
                .netlifyIdentity
                .on("login", () => {
                  document.location.href = "/admin/";
                });
            }
          });
      }
    </script>

    <link rel="stylesheet" href="{{ hash['/css/styles.css'] | url }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}

  </head>
  <body class="antialiased bg-black">
    {% include "../components/header.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% include "../components/footer.njk" %}
  </body>
</html>