---
description: Individual Project Page
layout: layouts/base.njk
---
<div class="flex flex-col font-work">
    <div class="-mt-10 lg:-mt-16 xl:-mt-16 2xl:-mt-16 -z-10 flex flex-col justify-center header  bg-cover bg-center h-screen bg-blend-darken" style="
    background-image: url('{{featimg}}'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
">
        {# <img src="{{featimg}}" class="-z-20"> #}
        <div class="m-8">
            <h1 class="text-white text-7xl font-bold">{{title}}</h1>
            <p class="text-white text-2xl font-regular">{{projprov}}</p>
        </div>
    </div>
    <div class="seebelow z-20">
        <p class="text-white font-regular text-md mx-auto text-center -mt-8">PROJECT DETAILS</p>
        <p class="text-white font-regular text-sm mx-auto text-center -mt-2">|</p>
    </div>

    <div class="main py-3 lg:py-16 xl:py-16 2xl:py-16 flex flex-col lg:flex-row xl:flex-row 2xl:flex-row w-full justify-evenly items-center lg:items-start xl:items-start 2xl:items-start">
        <div class="chips ">
            <ul class="mb-8 content-center flex flex-row lg:flex-col xl:flex-col 2xl:flex-col">
                {%- for tag in chips -%}
                    <li class="text-sm text-center w-32 m-1 p-1 bg-gray-100">{{ tag }}</li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="details">
            {# px-16 my-16 #}
            <div class="client mb-4">
                <p class="text-2xl font-extralight">CLIENT</p>
                <p class="text-xl font-regular capitalize">{{client}}</p>
            </div>

            <div class="delivery mb-4">
                <p class="text-2xl font-extralight">DELIVERY</p>
                <ul class="text-lg font-regular list-none capitalize">
                    {%- for tasks in delivery -%}
                        <li>{{ tasks }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="delivery mb-4">
            <p class="text-2xl font-extralight">COLLABORATORS</p>
            <ul class="text-lg font-regular list-none underline capitalize">
                {%- for collaborator in collaborators -%}
                    <li>{{ collaborator }}</li>
                {%- endfor -%}
            </ul>
        </div>

    </div>
    <div class="section2 px-10 lg:my-16 xl:my-16 2xl:my-16 flex flex-col lg:flex-row xl:flex-row 2xl:flex-row w-full justify-evenly items-center lg:items-start xl:items-start 2xl:items-start">
        <div class="context mb-8 lg:mx-20 xl:mx-20 2xl:mx-20 content-center">
            <p class="text-2xl font-bold text-gray-400">{{ projctx }}</p>
        </div>

        <div class="projectcontent mb-8 lg:mx-16 xl:mx-16 2xl:mx-16 content-center">
            {% block content %}
                <p class="text-xl font-regular">
                    {{ content | safe }}</p>
            {% endblock %}
        </div>
    </div>

    {# <p>SOME IMAGES</p> #}
    <div class="bg-black py-12 flex flex-col flex-wrap lg:flex-row xl:flex-row 2xl:flex-row justify-evenly items-center">
        {%- for img in projimg -%}
            <div class="">
                <img src="{{ img.img }}" alt="{{ img.caption }}" class="object-cover p-2 h-full w-[42rem]">
                {# <p class="text-sm">{{ img.caption}}</p> #}
            </div>
            {%- endfor-%}
        </div>
    </div>
    <div class="font-work justify-center nextproject flex flex-col lg:flex-row xl:flew-row 2xl:flex-row lg:max-h-56 xl:max-h-56 2xl:max-h-56 lg:place-items-center xl:place-items-center 2xl:place-items-center header  bg-cover bg-center h-screen p-8  bg-blend-darken" style="
    background-image: url('{{relprojimg}}'), linear-gradient(to left,rgba(0,0,0,0.3), rgba(0,0,0,0.8));
">
        <p class="lg:w-1/3 xl:w-1/3 2xl:w-1/3 text-white my-2  lg:mx-8 xl:mx-8 2xl:mx-8 text-xl lg:text-6xl xl:text-6xl 2xl:text-6xl font-semibold">Also see:</p>
        <div class="lg:w-2/3 xl:w-2/3 2xl:w-2/3">
            <a href="{{ relprojlink}}">
                <p class="text-white my-2 lg:mx-8 xl:mx-8 2xl:mx-8 text-6xl font-thin">{{ relprojname}}</p>
                <p class="text-white my-2 lg:mx-8 xl:mx-8 2xl:mx-8 text-2xl font-regular italic">{{ relprojprov}}</p>
            </a>
        </div>
        <div>   
            <img class="w-auto" src="/img/next-arrow.svg" alt="Next Project">
        </div>
    </div>