---
layout: layouts/base.njk
---

<div class="" x-init="console.log('Hello from Alpine.js')">
    <div class="flex flex-col">
        {{ about.title }}
        {{ about.intro | safe }}
    </div>
    <div>WHO WE ARE</div>
    <div>
        {% for who in about.team %}
            <h1 class="">{{ who.name }}</h1>
            <p class="">{{ who.bio }}</p>
            <img src="{{ who.photo }}" alt="{{who.name}}">
            <a href="{{ who.link }}" target="_blank">Website</a>
        {% endfor %}
    </div>