---
title: AJAIBGHAR CULTURAL SERVICES LLP
description: Ajaibghar Website Landing Page
layout: layouts/base.njk
---
    <script defer src="{{ hash['/js/scripts.js'] | url }}"></script>

<div class="" x-init="console.log('Hello from Alpine.js')">
  

    <div id="salad"></div>

</div>


