---
title: AGAT SHARMA
description: Theatre Maker
layout: layouts/base.njk
---

{% set projlist = collections.projects %}

<div class="projectlist font-work text-white md:mx-56 m-2 px-5  space-y-6 my-auto mb-5">
    <div id="intro">
        <p class="text-white font-work max-w-prose mb-8">Agat Sharma moved to Amsterdam from Jaipur, India in 2020 to study at DAS Theatre. In 2022 he founded Intimidation Tactics (I_T), a post-critical theatre collective with no regard for disciplinary boundaries. Under this name he continues to work in relation to the context in India and continues to collaborate with practitioners who live in India as well as newfound collaborators in the Netherlands. </p>
    </div>
    <h2>LIST OF WORKS</h2>
    {% for post in projlist %}
        <div class="eachproject italic">
            <div class="hyperlinks">
                <a class="text-center font-regular text-2xl mt-4 uppercase underline underline-offset-4" href="{{ post.url | url }}">

                    {{ post.data.title }}

                </a>
            </div>

        </div>
    {% endfor %}

</div>