---
title: dobedobedobe
description: Theatre Maker
layout: layouts/base.njk
---

{% set projlist = collections.projects %}
<div class="md:flex md:flex-row ">
     {% include "components/navlist.njk" %}

    <div class="flex flex-col px-4 space-y-4 md:w-2/3 md:grid md:grid-cols-3 md:gap-4">
        {% for post in projlist %}
            <a class="{{ loop.index }}" href="{{ post.url | url }}">
                <img class="px-4 object-fill" src="{{ post.data.featimg }}"></a>
            {% endfor %}
        </div>
    </div>
</div>