---
layout: layouts/base.njk
title: Contact
---
<div class="flex px-7 space-y-4">
    <form accept-charset="UTF-8" action="https://getform.io/f/37e50c58-8505-40a1-8dd8-3c7384d7976e" method="POST" enctype="multipart/form-data" target="_blank">
        <input type="email" name="email" placeholder="Your Email">
        <input type="text" name="name" placeholder="Your Name">
        <input type="text" name="message" placeholder="Your Message">
        <button type="submit" class="rounded-full">Send</button>
    </form>
</div>